<div class="{{ player.name|lower }}-container">
    <div class="{{ player.name|lower }}-head">
        <p>{{ player.name }}</p>
    </div>
    <div class="proj-card-{{ player.name|lower }}-container">
        {% for card in player.holeCards %}
            <img class="hole-card" src="{{ asset('../img/cards/' ~ card ~ '.png') }}">
        {% endfor %}
    </div>
</div>