<div class="humanplayer-container">
    <div class="humanplayer-head">
        <p class="underline">{{ player.name }}</p>
        <p class="smaller">${{ player.buyIn }}</p>
    </div>
    {% if player.role is same as "d" %}
        <div class="dealer-chip-container">
                <img
                    class="dealer-chip"
                    src="{{ asset('img/proj/dealer.png') }}"
                    width="50"
                >
        </div>
    {% endif %}
    <div class="proj-card-container">
        {% for card in player.holeCards %}
            <img class="hole-card" src="{{ asset('img/cards/' ~ card ~ '.png') }}">
        {% endfor %}
    </div>
</div>
<div class="player-bet-container">
    <p class="smaller">Insats: ${{ player.bets }}</p>
</div>
<div class="best-hand-container">
    <div class="best-hand-cards">
        {% for card in player.bestHand %}
            <img class="best-card" src="{{ asset('img/cards/' ~ card ~ '.png') }}">
        {% endfor %}
    </div>
    <div class="best-hand-name">
        <p>Bästa handen: {{ player.bestHandName }}</p>
    </div>
</div>