<!--
    * This twig represents the computer players' info grids.
-->

<div class="{{ player.name|lower }}-container">
    <div class="{{ player.name|lower }}-head">
        <p class="underline">{{ player.name }}</p>
        <p class="smaller"> ${{ player.buyIn }}</p>
    </div>
    {% if player.role is same as "d" %}
        <div class="dealer-chip-{{ player.name|lower }}-container">
                <img
                    class="dealer-chip"
                    src="{{ asset('img/proj/dealer.png') }}"
                    width="50"
                >
        </div>
    {% endif %}
    <div class="proj-card-{{ player.name|lower }}-container">
        {% for card in player.holeCards %}
            <img class="hole-card" src="{{ asset('img/cards/X.png') }}">
        {% endfor %}
    </div>
</div>
<div class="{{ player.name|lower }}-bet-container">
    <div class="bet-size-container">
        <p class="smaller">${{ player.bets }}</p>
    </div>
    <div class="{{ player.name|lower }}-chip-container">
        {% if player.bets > 0 %}
            {% for i in 1 .. (player.bets / chipSize) %}
                <img
                    class="rotated"
                    src="{{ asset('img/proj/poker4.jpg') }}"
                    style='top: -{{ (((i + 5) * 4) - 20) ~ "px" }}';
                >
            {% endfor %}
        {% endif %}
    </div>
</div>