{% extends "proj_base.html.twig" %}

{% block title %}MVC Project{% endblock %}

{% block main %}
    <div class="proj-api-container">
        <h3 class="h-api">API</h3>
        <div class="proj-api-links">
            <div class="top-row">
                <div class="api-forms container1">
                    <figcaption class="proj-api-fig">Hitta startkort utifrån deras ranking 1-169.</figcaption>
                    <form id="cardrank-form" class="api-form" method="post" action="{{ cardRankUrl }}">
                        <button class="api-button rank-button" type="submit">Sök</button>
                        <input class="api-input" type="number" name="rank" min="1" max="169">
                    </form>
                </div>
                <div class="api-forms container2">
                    <figcaption class="proj-api-fig">Se spelardata för nuvarande spel.</figcaption>
                    <form id="playerdata-form" class="api-form" method="get" action="{{ playerDataUrl }}">
                        <button class="api-button player-button" type="submit">Spelardata</button>
                    </form>
                </div>
            </div>
            <div class="middle-row">
                <div class="api-forms container3">
                    <figcaption class="proj-api-fig">Se speldata för nuvarande spel.</figcaption>
                    <form id="gamedata-form" class="api-form" method="get" action="{{ gameDataUrl }}">
                        <button class="api-button game-button" type="submit">Speldata</button>
                    </form>
                </div>
                <div class="api-forms container4">
                    <figcaption class="proj-api-fig">Sök efter valt antal meddelanden från spelet.</figcaption>
                    <form id="messagedata-form" class="api-form" method="post" action="{{ messageDataUrl }}">
                        <button class="api-button message-button" type="submit">Sök</button>
                        <input class="api-input" type="number" name="messages" min="1" max="20">
                    </form>
                </div>
            </div>
            <div class="bottom-row">
                <div class="api-forms container5">
                    <figcaption class="proj-api-fig">Se alla 21 möjliga pokerhänder för:</figcaption>
                    <figcaption class="proj-api-fig">7 random kort eller dina 2 plus 5 gemensamma från pågående spel.</figcaption>
                    <div class="face-down-cards">
                        {% for i in 0..6 %}
                            <img
                                class="face-down-card"
                                src="{{ asset('img/cards/X.png') }}"
                                width="45"
                            >
                        {% endfor %}
                    </div>
                    <form id="combinations-form" class="api-form" method="" action="{{ combinationsUrl }}">
                        <button class="api-button combo-button" type="submit">Testa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}