{% extends "proj_base.html.twig" %}

{% block title %}Texas Init Testing{% endblock %}

{% block main %}
    <div class="proj-container">
        <div>
            {# <p class="p-para">Namn: {{ Martin.name }}</p>
            <p class="p-para">Roll: {{ Martin.role }}</p>
            <p class="p-para">Insats: {{ Martin.buyIn }}$</p>
            {% if Martin.hasFolded %}
                <p class="p-para">Out: Har lagt sig.</p>
            {% else %}
                <p class="p-para">In: Fortfarande med.</p>
            {% endif %}
            <p class="p-para">Bet: {{ Martin.bets }}$</p> #}
            {% for card in community %}
                <img class="one-card" src="{{ asset('../img/cards/' ~ card ~ '.png') }}">
            {% endfor %}
            <p></p>
            {% for card in m8.bestHand %}
                <img class="one-card" src="{{ asset('../img/cards/' ~ card ~ '.png') }}">
            {% endfor %}
        </div>
    </div>
{% endblock %}