{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block main %}
    <div class="card-container">
        <div class="card-heading">
            <h1>Card</h1>
        </div>
        <div class="card-links">
            <ul>
                <li><a href="{{ path('deck') }}">Deck</a></li>
                <li><a href="{{ path('deck_shuffle') }}">Deck Shuffle</a></li>
                <li><a href="{{ path('deck_draw_init') }}">Deck Draw</a></li>
                <li><a href="{{ path('deck_draw_number', {number: 0}) }}">Deck Draw Number</a></li>
                <li><a href="{{ path('deck_deal', {'players': 0, 'cards': 0}) }}">Deck Deal</a></li>
            </ul>
        </div>
        <h3>Klasser kmom02</h3>
        <div class="card-text">
            <p>
                Jag använder mig av två klasser (förutom mina controllers) i den här uppgiften.
                Den ena klassen är Deck. Genom dess konstruktor-metod skapas själva kortleken med
                hjälp av medlemsvariablerna values och suits. Dessa två arrayer innehåller förkortningar
                på värde och valör. Med hjälp av dessa skapar jag innehållet till instansens
                deck-property som består av 52 arrayer, var och en med information om kortet som
                den håller, värde, valör, namn och bild-namn. Metoderna tar returnerar bland annat
                bildnamnen, hela kortleken och ett draget kort. En metod blandar kortleken.
            </p>
            <p>
                Card-klassen har en konstruktor som inte heller tar några parametrar. Card-klassens
                konstruktor initierar ett Deck-objekt till sin deck-property och har även en
                image-property till vilken getImages-metoden lägger till bilderna för korten.
                Ett Card-objekt har ett Deck-objekt och därför är relationen "aggregation".
                Deck-klassen och dess metoder används i huvudsak till API-routrarna medan Card-klassen
                används till övriga routrar.
            </p>
            <div class="uml">
                <img src="{{ asset('img/classdiagram_cards_transparent.png') }}">
            </div>
        </div>
    </div>
{% endblock %}