{% extends 'base.html.twig' %}

{% block title %}Delete confirmation{% endblock %}

{% block main %}
<h1>Delete confirmation</h1>
<div class="confirm-delete">
    <p>Are you sure you want to delete this book?</p>
</div>
<div class="one-book-container">
    <div class="book-image-container delete">
        <img class="book-image-one delete" src="{{ asset('img/books/' ~ book.image) }}">
    </div>
    <div class="book-info">
        <div class="book-title">
            <h2>TITLE</h2>
            <p>{{ book.title }}</p>
        </div>
        <div class="book-isbn">
            <h2>ISBN</h2>
            <p>{{ book.isbn }}</p>
        </div>
        <div class="book-author">
            <h2>AUTHOR</h2>
            <p>{{ book.author }}</p>
        </div>
        <div class="book-update">
            <a href="{{ url('book_delete_post', {'id': book.id})}}">
                <button class="button book">Confirm delete</button>
            </a>
        </div>
        <div class="goto-all-books">
            <a href="{{ url('book_read_many')}}">
                <button class="button book">Go to all books</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}