{% extends 'base.html.twig' %}

{% block title %}One book{% endblock %}

{% block main %}
<h1>Book with id: {{ book.id }}</h1>
<div class="one-book-container">
    <div class="book-image-container">
        <img class="book-image-one" src="{{ asset('img/books/' ~ book.image) }}">
    </div>
    <div class="book-info">
        <div class="book-title">
            <h2>TITLE</h2>
            <p>{{ book.title }}</p>
        </div>
        <div class="book-isbn">
            <h2>ISBN</h2>
            <p>{{ book.isbn }}</p>
        </div>
        <div class="book-author">
            <h2>AUTHOR</h2>
            <p>{{ book.author }}</p>
        </div>
        <div class="book-update">
            <a href="{{ url('book_update', {'anId': book.id})}}">
                <button class="button book">Update book</button>
            </a>
        </div>
        <div class="book-delete">
            <a href="{{ url('book_delete', {'anId': book.id})}}">
                <button class="button book red">Delete book</button>
            </a>
        </div>
        <div class="goto-all-books">
            <a href="{{ url('book_read_many')}}">
                <button class="button book">Go to all books</button>
            </a>
        </div>
    </div>
</div>
<div class="book-prev-next">
    <a href="{{ url('book_by_id', {'id': prevBook.id})}}">
        <button class="button book prevnext">Previous book</button>
    </a>
    <a href="{{ url('book_by_id', {'id': nextBook.id})}}">
        <button class="button book prevnext">Next book</button>
    </a>
</div>
{% endblock %}