{% extends 'base.html.twig' %}

{% block title %}Update book{% endblock %}

{% block main %}
    <div class="update-container">
        <h1>Update book in library</h1>
        <div class="form-container">
            <form id="book-update-form" action="{{ url('book_update_post', {'id': book.id}) }}" method="post">
                <fieldset>
                    <legend class="form-legend">Update book</legend>
                    <div class="input">
                        <label for="id" class="form-label book">Book ID:</label>
                        <input
                            readonly="readonly"
                            id="id"
                            class="form-input book"
                            type="text"
                            name="id"
                            value="{{ book.id }}"
                        >
                    </div>
                    <div class="input">
                        <label for="title" class="form-label book">Book Title:</label>
                        <input
                            required="required"
                            id="title"
                            class="form-input book"
                            type="text"
                            name="title"
                            value="{{ book.title }}"
                        >
                    </div>
                    <div class="input">
                        <label for="isbn" class="form-label book">Book ISBN:</label>
                        <input
                            required="required"
                            id="isbn"
                            class="form-input book"
                            type="number"
                            name="isbn"
                            value="{{ book.isbn }}"
                        >
                    </div>
                    <div class="input">
                        <label for="author" class="form-label book">Book Author:</label>
                        <input
                            required="required"
                            id="author"
                            class="form-input book"
                            type="text"
                            name="author"
                            value="{{ book.author }}"
                        >
                    </div>
                    <div class="input">
                        <label for="image" class="form-label book">Book Image:</label>
                        <input
                            required="required"
                            id="image"
                            class="form-input book"
                            type="text"
                            name="image"
                            value="{{ book.image }}"
                        >
                    </div>
                    <div class="input">
                        <input class="button" type="submit" value="Update">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="goto-all-books">
            <a href="{{ url('book_by_id', {'id': book.id})}}">
                <button class="button book top">Back</button>
            </a>
        </div>
    </div>
{% endblock %}