<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/phones.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body style="background-image: url({{ asset('img/bg-body.jpg') }})">

    <div class="page-container">

        <header class="header" style="background-image: url({{ asset('img/site-header.jpg') }})">
            <div class="logo-container">
                <img src="{{ asset('img/logo.jpg') }}" alt="logo" width="200"/>
            </div>
            <div class="nav-container">
                <nav>
                    <ul>
                        <li><a href="{{ path('/') }}">Home</a></li>
                        <li><a href="{{ path('about') }}">About</a></li>
                        <li><a href="{{ path('report') }}">Report</a></li>
                        <li><a href="{{ path('lucky') }}">Lucky</a></li>
                        <li><a href="{{ path('quote') }}">Quotes</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer class="footer">
            <div class="icons">
                <div class="github">
                    <h3>Course repo</h3>
                    <a href="https://github.com/dbwebb-se/mvc">
                        <i class="fa-brands fa-github fa-2xl" style="color: #333333;"></i>
                    </a>
                </div>
                <div class="myrepo">
                    <h3>My repo</h3>
                    <a href="https://github.com/idaloof/mvc">
                        <i class="fa-brands fa-square-github fa-2xl" style="color: #333333;"></i>
                    </a>
                </div>
                <div class="course">
                    <h3>Course page</h3>
                    <a href="https://dbwebb.se/kurser/mvc-v2">
                        <i class="fa-solid fa-book fa-2xl" style="color: #333333;"></i>
                    </a>
                </div>
                <div class="symfony">
                    <h3>Symfony</h3>
                    <a href="https://symfony.com/doc/current/index.html">
                        <i class="fa-brands fa-symfony fa-2xl" style="color: #333333;"></i>
                    </a>
                </div>
            </div>
            <div class="myinfo">
                <p>
                    Copyright &#169 Martin Fooladi 2023
                </p>
            </div>
        </footer>

    </div>

    </body>
</html>
