<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/proj/aces.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="proj-body" style="background-image: url({{ asset('img/proj/body-texas.jpg') }})">

    <div class="proj-page-container">

        <header id="proj-header" class="proj-header" style="background-image: url({{ asset('img/site-header.jpg') }})">
            <div class="logo-container">
                <img src="{{ asset('img/logo.jpg') }}" alt="logo" width="200"/>
            </div>
            <div class="nav-container">
                <nav id="nav">
                    <ul>
                        <li><a href="{{ path('/') }}">
                            <img class="home-icon" src="{{ asset('../img/proj/icons8-home.gif') }}">
                        </a></li>
                        <li><a href="{{ path('proj') }}">Proj</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="proj-main">
            {% block main %}
            {% endblock %}
        </main>

        <footer class="proj-footer">
            <div class="myinfo">
                <p>
                    Martin 2023
                </p>
            </div>
        </footer>

    </div>

    </body>
</html>
